<!-- <effect() {
    setTimeout(() => count++, 3000)
} /> -->

<div>
    <h2>Counter</h2>
    <let/value=0 />
    <p>${value}</p>
    <button onClick() {value++;}>click me</button>
</div>

<!-- <return=count /> -->